<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" href="itmlogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
    <section class="container-fluid text-center mt-5 m1" style="padding: 200px;">
        <% if(message.length> 0){ %>
            <div class="alert alert-success">
              <%= message %>
            </div>
            <% } %>
            <% if(message1.length> 0){ %>
                <div class="alert alert-danger">
                  <%= message1 %>
                </div>
                <% } %>
        <div class="row text-center m2 mt-5">
            <div class="col-md-6 text-center mt-5">
                <img src="https://images.unsplash.com/photo-1529619768328-e37af76c6fe5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0eSUyMG5pZ2h0fGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="w-100"> 

    
            </div>
           
            <div class="col-md-6 mt-5">
                <div class="row">
                    <img src="Picture1.png">


                </div>
                <div class="row mt-5">
                    <form method="post" action="/verify_login" enctype="multipart/form-data">
                        
                        <div class="form-group m3">
                          <input type="text" name="email" class="form-control m4" placeholder="E-Mail">
                        </div>
                        <div class="form-group m3">
                          <input type="passwpord" name="password" class="form-control m4" placeholder="Password">
                        </div>
                        
                        
                        <div class="form-group m3">
                          <button class="btn btn-success">Submit</button>
                        </div>
                        <a href="/login" class="nav-link">Login</a>
                        <a href="/Register" class="nav-link">Register</a>
                      </form>

                </div>


            </div>


        </div>
    </section>
    
</body>
</html>

<%- include('header.ejs') %>
<section class="login-wrap mtb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-box">
                    <h1>Administrator Login</h1>
                    <% if(message.length> 0){ %>
                        <div class="alert alert-success">
                          <%= message %>
                        </div>
                        <% } %>
                        <% if(message1.length> 0){ %>
                            <div class="alert alert-danger">
                              <%= message1 %>
                            </div>
                            <% } %>
                    <form action="/verify_login" method="post">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button  class="btn btn-primary">Log In</button>
                        </div>
                    </form>
                </div>         
            </div>
        </div>
    </div>
</section>
<%- include('footer.ejs') %>











<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" href="itmlogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<style>
    .m1{
        background:darkslategrey ;
    }
    
    
    
    
    
    
    
    .m2{
        background-color: black;
        background-color: transparent;
        /* opacity: 0.5; */
        border: 2px solid black;
       
        box-shadow: 0 4px 8px 0 rgba(36, 195, 70, 0.2), 0 6px 20px 0 rgba(32, 35, 5, 0.8) !important;
        background: linear-gradient(-69deg,#2f4f4f 11%,#ffffff 85%);
    
    }
    .m3{
        border-radius: 0px;
    }
    /* .m4{
        border-radius: none;
    } */
    .m4{
        border-radius: 0px !important;
       background: transparent !important;
       color: rgb(6, 11, 9) !important;
       font-weight: 900;
       border-top: none !important;
       border-left: none !important;
    
       border-right: none !important;
    }
</style>
<body>
    <section class="container-fluid text-center mt-5 m1" style="padding: 200px;">
        <% if(message.length> 0){ %>
            <div class="alert alert-success">
              <%= message %>
            </div>
            <% } %>
            <% if(message1.length> 0){ %>
                <div class="alert alert-danger">
                  <%= message1 %>
                </div>
                <% } %>
        <div class="row text-center m2 mt-5">
            <div class="col-md-6 text-center mt-5">
                <img src="https://images.unsplash.com/photo-1529619768328-e37af76c6fe5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0eSUyMG5pZ2h0fGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="w-100"> 

    
            </div>
           
            <div class="col-md-6 mt-5">
                <div class="row">
                    <img src="Picture1.png">


                </div>
                <div class="row mt-5">
                    <form method="post" action="/verify_login" enctype="multipart/form-data">
                        
                        <div class="form-group m3">
                          <input type="text" name="email" class="form-control m4" placeholder="E-Mail">
                        </div>
                        <div class="form-group m3">
                          <input type="passwpord" name="password" class="form-control m4" placeholder="Password">
                        </div>
                        
                        
                        <div class="form-group m3">
                          <button class="btn btn-success">Submit</button>
                        </div>
                        <a href="/login" class="nav-link">Login</a>
                        <a href="/Register" class="nav-link">Register</a>
                      </form>

                </div>


            </div>


        </div>
    </section>
    
</body>
</html>