 .m1{
    background-image: url(https://images.unsplash.com/photo-1529619768328-e37af76c6fe5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0eSUyMG5pZ2h0fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-size: cover;
    /* height:100%; */
    width:100%;
    background-position: center;
    /* background-size: cover; */
    /* background-attachment: fixed; */
    color:white;
    /* padding-top: 102px; */
    padding: 300px 0px;



}
.m2{
    background-color: black;
    background-color: transparent;
    opacity: 0.5;
    border: 2px solid black;
   
    box-shadow: 0 4px 8px 0 rgba(36, 195, 70, 0.2), 0 6px 20px 0 rgba(32, 35, 5, 0.8) !important;

}
.m3{
    border-radius: 0px;
}
/* .m4{
    border-radius: none;
} */
.m4{
    border-radius: 0px !important;
   background: transparent !important;
   color: rgb(6, 11, 9) !important;
   font-weight: 900;
   border-top: none !important;
   border-left: none !important;

   border-right: none !important;


}
input{
    color: #000 !important;
}
.form-control::placeholder{
    color: blue;
}